<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aurora IOT Index</title>
  </head>

  <body>
    <h1>Homepage Aurora IOT</h1>
    <table>
      <tr bgcolor="grey">
        <th>Sensor</th>
        <th>Brand</th>
        <th>Sensor Type</th>
        <th>location</th>
        <th>Voltage (V)</th>
        <th>Amps (A)</th>
        <th>Frequency (Hz)</th>
        <th>Power Factor</th>
        <th>Energy Consumed(kWh)</th>
      </tr>
        {%for data in data%}
        <tr bgcolor="lightgrey">
            <td>{{data.sensor_id__name}}</td>
            <td>{{data.sensor_id__brand}}</td>
            <td>{{data.sensor_id__type__type}}</td>
            <td>{{data.sensor_id__location}}</td>
            <td>{{data.data.V}}</td>
            <td>{{data.data.A}}</td>
            <td>{{data.data.F}}</td>
            <td>{{data.data.PF}}</td>
            <td>{{data.data.E}}</td>
        </tr>
        {% endfor %}
    </table>
  </body>
</html>
