<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aurora IOT Sensors</title>
  </head>

  <body>
    <h1>Sensors</h1>
    <table>
      <tr bgcolor="grey">
        <th>Time</th>
        <th>Sensor id</th>
        <th>Sensor</th>
        <th>Brand</th>
        <th>Sensor Type</th>
        <th>location</th>
        <th>Voltage (V)</th>
        <th>Amps (A)</th>
        <th>Frequency (Hz)</th>
        <th>Power Factor</th>
        <th>Energy Consumed(kWh)</th>
      </tr>
        {%for row in data%}
        <tr bgcolor="lightgrey">
            <td>{{row.time}}</td>
            <td>{{row.sensor_id}}</td>
            <td>{{row.sensor_id__name}}</td>
            <td>{{row.sensor_id__brand}}</td>
            <td>{{row.sensor_id__type__type}}</td>
            <td>{{row.sensor_id__location}}</td>
            <td>{{row.data.voltage}}</td>
            <td>{{row.data.current}}</td>
            <td>{{row.data.frequency}}</td>
            <td>{{row.data.pf}}</td>
            <td>{{row.data.energy}}</td>
        </tr>
        {% endfor %}
    </table>
  </body>
</html>
